{% extends 'base.html' %}
{% load static %}
{% block title %}{{ user_obj.username }}{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
    <div class="object row px-0">
        <div class="col-8 pr-0 ">
         <h2 class="mx-auto">Профиль: {{ user_obj.username }}</h2>
        <div class="row">
            <div class="col-6 pl-5">
                <p class="d-block">Имя:</p>
            </div>
            <div class="col-6">
                <p><b>{{ user_obj.first_name }}</b></p>
            </div>
        </div>
            <div class="row ">
                <p class="col-6 pl-5">Фамилия:</p>
                <p class="col-6"><b>{{ user_obj.last_name }}</b></p>
            </div>
            <div class="row ">
                <p class="col-6 pl-5">Email:</p>
                <p class="col-6"><b>{{ user_obj.email }}</b></p>
            </div>
            <div class="row ">
                <p class="col-6 pl-5">Файлы:</p>
                {% for file in user_obj.created_file.all %}
                    {% if file.status == 'public' or request.user == file.author%}
                    <p><a href="{% url 'webapp:file_detail' file.pk %}"> {{ file.signature }} </a></p>
                    {% else %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}