{% extends 'base.html' %}
{% block menu %}
    <li><a href="{% url 'webapp:file_update' file.pk %}">Редактировать</a></li>
    <li><a href="{% url 'webapp:file_delete' file.pk %}">Удалить</a></li>
{% endblock %}
{% block content %}
    {% if file.status == 'public' or file.status == 'hidden' or request.user == file.author%}
    <div class="row my-5">
                <div class="left col-10 d-flex justify-content-center">
                    <a href='{{ file.upload.url }}' class="btn btn-success">Скачать</a>
                </div>
            </div>
        <div class="row">
            <p class="text col-6">Имя: {{ file.signature }}</p>
        </div>
        <div class="row">
            <p class="text col-6">Статус: {{ file.status }}</p>
        </div>
        <div class="row">
        {% if file.author == None %}
            <p class="text col-6">Автор: Аноним</p>
        {% else %}
            <p class="text col-6">Автор: <a href="{% url 'accounts:detail' file.author.pk%}">{{ file.author }}</a></p>
        {% endif %}
        </div>
        <p>Дата создания: {{ file.created_at|date:'Y-m-d H:i:s' }}</p>
        {% if perms.webapp.change_file or request.user == file.author%}
            <a href="{% url 'webapp:file_update' file.pk %}" class="btn btn-primary">Обновить</a>
        {% endif %}
        {% if perms.webapp.delete_file or request.user == file.author%}
            <a href="{% url 'webapp:file_delete' file.pk %}" class="btn btn-danger">Удалить</a>
        {% endif %}
    {% else %}
        Ошибка 404
    {% endif %}
{% endblock %}