{% extends 'base.html' %}
{% load static %}
{% block menu %}
    <li><a href ="{% url 'webapp:file_create' %}">Добавить Файл</a></li>
{% endblock %}
{% block content %}
    <h1>Файлы:</h1>
    {% include 'partial/search_form.html' %}
    <hr/>
    {% if is_paginated %}
       {% include 'partial/pagination.html' %}
   {% endif %}
    {% for file in files %}
            <p><a href="{{ file.upload.url }}" class="btn btn-success">Файл: {{ file.upload }}</a></p>
            <p><b><a href='{% url 'webapp:file_detail' file.pk %}'>{{ file.signature }}</a></b></p>
            {% if file.author == None %}
                <p>Автор: Аноним</p>
            {% else %}
                <p>Автор: {{ file.author }}</p>
            {% endif %}
            <p>Cоздана: {{ file.created_at|date:'Y-m-d H:i:s' }}</p>
            <p>Статус: {{ file.status }}</p>
            <a href="{% url 'webapp:file_update' file.pk %}" class="btn btn-primary">Обновить</a>
            <a href="{% url 'webapp:file_delete' file.pk %}" class="btn btn-danger">Удалить</a>
        <hr/>
    {% endfor %}
    {% if is_paginated %}
       {% include 'partial/pagination.html' %}
   {% endif %}
{% endblock %}