{% extends 'base.html' %}
{% load static %}
{% block menu %}
    <li><a href ="{% url 'webapp:file_create' %}">Добавить Файл</a></li>
{% endblock %}
{% block content %}
    <h1>Файлы:</h1>
    {% include 'partial/search_form.html' %}
    <hr/>
    {% if is_paginated %}
       {% include 'partial/pagination.html' %}
   {% endif %}
    {% for file in files %}
        {% if file.status == private %}
            <p><a href="{% url 'webapp:file_detail' file.pk %}" class="btn btn-success">Файл: {{ file.upload }}</a></p>
            <p>Подпись: {{ file.signature }}</p>
            <p>Автор: {{ file.author }}</p>
            <p>Cоздана: {{ file.created_at|date:'Y-m-d H:i:s' }}</p>
            <p>Статус: {{ file.status }}</p>
            <a href="{% url 'webapp:file_update' file.pk %}" class="btn btn-primary">Обновить</a>
            <a href="{% url 'webapp:file_delete' file.pk %}" class="btn btn-danger">Удалить</a>
        <hr/>
        {% else %}
            <p>Привет</p>
        {% endif %}
    {% endfor %}
    {% if is_paginated %}
       {% include 'partial/pagination.html' %}
   {% endif %}
{% endblock %}