{% extends 'base.html' %}
{% block content %}
    <h1>Вход</h1>
    <form class="px-4 py-3 w-50 mx-auto" action="{% url 'accounts:login' %}?next={{ next }}" method="post">
    {% csrf_token %}
         {% if form.non_field_errors %}
        <p class="form-error">Неверное имя пользователя или пароль.</p>
    {% endif %}
        <div class="form-group">
      <label for="login_input">Имя пользователя</label>
      <input type="text" class="form-control" name="username" id="login_input" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="exampleDropdownFormPassword1">Пароль</label>
      <input type="password" class="form-control" name="password" id="exampleDropdownFormPassword1" placeholder="Password">
    </div>
    <input type="hidden" name="next" value="{{ next }}"/>
    <button type="submit" class="btn d-block mx-auto btn-primary">Войти</button>
  </form>
{% endblock %}